extends layout
block content
  h1= "Fitness"
  .row 
    p Choose user
    select
     each user, i in Users
      option(value=i) #{user.name}¨
    input.btn-primary(type='button' value='Add User' onclick='AddUser()')
  script.
    var AddUser = function() {
       $.post( "/User/Martin", function() {
       location.reload();
       });
    }