@{
    ViewBag.Title = "Home Page";
}


<div ng-controller="HomeController as vm">
    
    <food ng-if="vm.FoodTypesLoaded && vm.UserSelected"></food>
    <user ng-if="vm.UsersLoaded && !vm.UserSelected"></user>
</div>
